#logo {

}

#video {
	/* Test temporaire */ width: 100%; height: 508px;
}

	video {
		width: 100%; height: 100%;
	}

#slide {
	/* Test temporaire */ width: 1080px; height:768px;
}

#clients {
	width: 100%; height: 398px;
}
