*{ /*Remove the colored box for android and ios webview*/
    -webkit-tap-highlight-color:transparent !important;
}

body{ /*Force the main container to fullscreen*/
    position    : absolute;
    top         : 0;
    right       : 0;
    bottom      : 0;
    left        : 0;
    margin      : 0;
    padding     : 0;
    background  : white;

    font-family : "Edmondsans-Regular";
    font-size: 1.5rem;
}

#wrapper { height: 100%; }

.separator { height: 5px; background-color: white; margin-top: 20px; }

/*********************************** PAGES QUESTIONNAIRE ***********************************/

.illustration{
	float: left;

	width: 320px;
	height: 100%;

	background-color: black;
}

.questionnaire{
	float:right;

	width: 959px;
	height: 100%;

	background-color: #212121;
	color: #ffffff;

	text-align: center;
	vertical-align: middle;
}

form {
	height: 685px;
}

	.etape {
		font-family : "Edmondsans-Bold";
		font-size : 1.7rem;
		font-style : italic;

		margin-top: 80px;
	}

	.question {
		font-family : "Edmondsans-Bold";
		font-size : 2.8rem;

		margin-top: 100px;
	}

	.answer {
		height: 275px;
	}

	[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after,
	[type="radio"]+label:before, [type="radio"]+label:after {
	  border: none;
	  content: none;
	  left: 50px;
	}
	div[class^="star-rating-"]  {
		font-family: 'FontAwesome';

		margin-top: 20px;
	}
	div[class^="star-rating-"]  > fieldset {
	  border: none;
	  display: inline-block;
	}
	div[class^="star-rating-"]  > fieldset:not(:checked) > label {
	  float: right;
	  width: 2.7em;
	  cursor: pointer;
	  font-size: 275%;
	  color: #ffffff;
	}
	div[class^="star-rating-"]  > fieldset:not(:checked) > label:before {
	  content: '\f006';
	}
	div[class^="star-rating-"]  > fieldset:not(:checked) > label:hover:before,
	div[class^="star-rating-"]  > fieldset:not(:checked) > label:hover ~ label:before {
	  content: '\f005';
	  color: #f4af5f;
	}
	div[class^="star-rating-"]  > fieldset > input:checked ~ label:before {
	  content: '\f005';
	  color: #f4af5f;
	}
	div[class^="star-rating-"]  > fieldset > label:active {
	  position: relative;
	  top: 2px;
	}

	.mention {
		margin-bottom: 0;
	}

.valider {
	height: 5rem;
	padding: 23px 30px 0 40px;
}

.donotsave {
	width: 550px;
	height: 2rem;
	padding: 0;
}

/*********************************** PAGE REMERCIEMENT ***********************************/

.top-part {
	width: 100%;
	height: 554px;

	background-color: black;
	background-image : url("../img/horizontal.jpg");
}

.bottom-part {
	width: 100%;
	height: 246px;

	padding: 50px;
	margin: 0;

	background-color: #212121;
	color: #ffffff;

	text-align: center;
	vertical-align: middle;

	font-family : "Edmondsans-Bold";
	font-size : 2.8rem;
}

/*********************************** AUTRES ***********************************/

@font-face {
    font-weight : normal;
    font-style  : normal;
    font-family : 'Edmondsans-Regular';
    src         : url('../fonts/Edmondsans-Regular.otf');
}
@font-face {
    font-weight : normal;
    font-style  : normal;
    font-family : 'Edmondsans-Bold';
    src         : url('../fonts/Edmondsans-Bold.otf');
}

@font-face {
	font-weight : normal;
	font-style  : normal;
	font-family : 'FontAwesome';
	src         : url('../fonts/FontAwesome.otf');
}

@font-face {
  font-family	: 'Material Icons';
  font-style	: normal;
  font-weight	: 400;
  src		: url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*Animation css */
.blink{
    -webkit-animation : bounce 0.5s ;
}

@-webkit-keyframes bounce{
     from {opacity  : 1;}
     25%  {opacity : 0;}
     50%  {opacity : 1;}
     75%  {opacity : 0;}
     to   {opacity  : 1;}
}

.transition-in{
    -webkit-animation : in 1s;
}
@-webkit-keyframes in{
     from {opacity:0;}
     to   {opacity: 1;}
}

.transition-out{
    -webkit-animation : out 1s ;
}
@-webkit-keyframes out{
     from {opacity:1;}
     to   {opacity: 0;}
}
