/*********************************** PAGES 1/2/3 ***********************************/
.top-part{
	position: absolute;

	display: table;

	width: 100%;
	height: 150px;

	-webkit-box-shadow: 0px 5px 20px rgb(42,42,42) ;

}

	.question{
		font-family : "Edmondsans-Bold";

		display: table-cell;
		vertical-align: middle;

		text-align: center;

		text-transform : initial;
		font-size      : 3rem;

		padding: 25px 100px;

		text-shadow: 3px 3px 0 rgba(42,42,42,0.5);
	}

.middle-part{
	position: absolute;
	top: 150px;

	display: table;

	width: 100%;
	height: 418px;
}

	.answer{
		display: table-cell;
		vertical-align: middle;

		text-align: center;
	}

.bottom-part{
	position: absolute;
	top: 568px;

	width: 100%;
	height: 200px;

	/*background: rgb(225,225,225);*/
	-webkit-box-shadow: 0px -5px 20px rgb(150, 150, 150) ;
}

	.logo{
		width: 712px;
		height: 125px;

		background : url("../img/logobelleboutique.png") no-repeat;
		background-size: 100%;

		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

/*********************************** PAGE 1 ***********************************/

.smiley{
	float: left;
	height: 215px;	/* Largeur et longueur de chaque smiley */
	width: 215px;

	margin: 0px 20px;	/* Positionne les images les unes par rapport aux autres. A adapter suivant les images */
	padding: 0px;

	/* Emoji font */
	font-family: 'EmojiSymbols';
	font-size: 16rem;
	line-height: 10rem;
}

.smiley1{
	margin-left: 50px;

	color: rgb(185,29,71);
	text-shadow: 0 20px 0 rgba(185,29,71,0.5);
}
.smiley2{
	color: rgb(218,83,44);
	text-shadow: 0 20px 0 rgba(218,83,44,0.5);
}
.smiley3{
	color: rgb(255,196,13);
	text-shadow: 0 20px 0 rgba(255,196,13,0.5);
}
.smiley4{
	color: rgb(153,180,51);
	text-shadow: 0 20px 0 rgba(153,180,51,0.5);
}
.smiley5{
	color: rgb(30,113,69);
	text-shadow: 0 20px 0 rgba(30,113,69,0.5);
}

.smiley-pushed{
	text-shadow: 0 -10px 0 rgba(255,255,255,0.2);
	line-height: 13rem; /* Permet de simuler l'appui sur le bouton en le rabaissant */
}

/*********************************** PAGES 2/3 ***********************************/

input[type="text"], input[type="email"], textarea{
	font-weight: bold;
}

.next2, .next3 {
	height: 6rem !important;

	padding: 25px 40px 0 50px;

	font-size: 2rem;
	line-height: 3rem;
}

/*********************************** PAGE FIN ***********************************/
.left-part{
	position: absolute;

	display: table;

	width: 50%;
	height: 100%;
}
	.remerciements{
		width: 550px;
		height: 600px;

		position: absolute;
		top:0;
		bottom: 0;
		/*left: 0;*/ /* CommentÃ© pour centrer un peu plus le logo au sein de la page */
		right: 0;
		margin: auto;

		display: table-cell;
		vertical-align: middle;

		text-align: center;
		padding: 150px 100px;
		font-size   : 2.5rem;
	}

.right-part{
	position: absolute;
	left: 50%;

	width: 50%;
	height: 100%;
}

	.right-logo{
		width: 550px;
		height: 600px;

		background : url("../img/logocarre.png") no-repeat;
		background-size: 100%;

		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		/*right: 0;*/ /* CommentÃ© pour centrer un peu plus le logo au sein de la page */
		margin: auto;
	}

/*********************************** AUTRES ***********************************/

body{ /*Force the main container to fullscreen*/
    position    : absolute;
    top         : 0;
    right       : 0;
    bottom      : 0;
    left        : 0;
    margin      : 0;
    padding     : 0;
    background  : white;

	font-family : "Edmondsans-Regular";

}

.pages{
	font-size: 1.5rem;
	width  : 100%;
	height : 100%;
}

*{ /*Remove the colored box for android and ios webview*/
    -webkit-tap-highlight-color:transparent !important;
}

/*Fonts declaration*/
@font-face {
	font-family: 'EmojiSymbols';
	src: url('../fonts/EmojiSymbols-Regular.woff') format('woff');
	text-decoration: none;
	font-style: normal;
}
/*
	EmojiSymbols Font (c)blockworks - Kenichi Kaneko
	http://emojisymbols.com/
*/
@font-face {
    font-weight : normal;
    font-style  : normal;
    font-family : 'Edmondsans-Regular';
    src         : url('../fonts/Edmondsans-Regular.otf');
}
@font-face {
    font-weight : normal;
    font-style  : normal;
    font-family : 'Edmondsans-Bold';
    src         : url('../fonts/Edmondsans-Bold.otf');
}

@font-face {
  font-family	: 'Material Icons';
  font-style	: normal;
  font-weight	: 400;
  src		: url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*Animation css */
.blink{
    -webkit-animation : bounce 0.5s ;
}

@-webkit-keyframes bounce{
     from {opacity  : 1;}
     25%  {opacity : 0;}
     50%  {opacity : 1;}
     75%  {opacity : 0;}
     to   {opacity  : 1;}
}

.transition-in{
    -webkit-animation : in 1s;
}
@-webkit-keyframes in{
     from {opacity:0;}
     to   {opacity: 1;}
}

.transition-out{
    -webkit-animation : out 1s ;
}
@-webkit-keyframes out{
     from {opacity:1;}
     to   {opacity: 0;}
}
